* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: burlywood;
  float: centre;
  font-family: sans-serif;
  background-image: url(./images/backk.jpg);
  background-size: cover;
}

<!--navbar-- > #navbar ul {
  list-style-type: none;
}
#navbar {
  padding: 30px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  padding-left: 70px;
}

#landing-page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 15px;
}
#landing-page #description {
  flex: 0 0 30%;
  width: 60%;
  text-align: center;
  margin: 10px;
  border: 5px;
}
#MENU {
  flex: 0 0 30%;
  width: 30%;
  text-align: center;
  margin: 10px;
  height: 550px;
  background-image: url(./images/midback.jpg);
}
#coffee-details {
  border: solid;
}
#Button {
  width: 100px;
  display: flex;
  justify-content: center;
  padding-left: 20%;
}
#footer {
  display: flex;
  float: right;
  padding: 15px;
  padding-top: 10px;
  padding-right: 60px;
}
.copyright {
  text-align: center;
  padding-top: 80px;
  padding-left: 140px;
}
